body {
    background-color: teal;
    max-width: 1400px;
    margin: auto;
    font-size: 30px;
    font-family: sans-serif;
}

header {
    color: white;
    background-color: brown;
    text-align: center;
    font-size: 26px;
}

header p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

div.container {
    border: solid;
    background-color: orange;
}

img.resize {
    width: 50px;
    height: auto;
}

img.rotate {
    transform: rotate(0.25turn);
}